<footer>
<div class="footer-content">

    <% let thisYear = new Date().getFullYear()%>
    <p>Created by Justin Ferraz | <%= thisYear%></p>
    <div class="footer-icons">
        <a href="https://www.github.com" target="_blank">
            <img src="" alt="github">
        </a>
        <a href="http://www.instagram.com" target="_blank">
            <img src="" alt="instagram">
        </a>
        <a href="https://www.gmail.com" target="_blank">
            <img src="" alt="gmail">
        </a>
    </div>
</div>
</footer>