<%-include('header.ejs') %>


<div class="content">
    <div class="side-menu">
        <%-include('side-menu.ejs') %>
    </div>
    <div class="timeline">
    </div>
</div>


<%-include('footer.ejs') %>