<div class="side-menu">
    <!-- Search Box -->
    <div class="search-box">
        <form id="searchForm">
            <input type="text" name="query" placeholder="Search posts..." aria-label="Search">
        </form>
    </div>

    <!-- Latest/Popular Posts -->
    <div class="side-menu-title">
        <p>Popular Posts</p>
    </div>
    <div class="side-menu-posts">
        <ul>
            <li><a href="/post-link-1">Post Title 1</a></li>
            <li><a href="/post-link-2">Post Title 2</a></li>
            <!-- More posts... -->
        </ul>
    </div>

    <!-- Other side menu content... -->
</div>
