<div class="side-menu-title">
    <p>Latest posts</p>
</div>
<div class="side-menu-posts">
    <ul>
        <li>Post 1</li>
        <li>Post 2</li>
        <li>Post 3</li>
        <li>Post 4</li>
    </ul>
</div>