:root {
    --primary-color: #0F2167; /* Dark Blue */
    --secondary-color: #F5F5F5; /* Light Grey */
    --accent-color: #007BFF; /* Cerulean Blue */
    --text-color: #333333; /* Almost Black */
    --button-text-color: #FFFFFF; /* White */
    --highlight-color: #FF6B6B; /* Coral */
    --button-background-color: #0056b3; /* Darker shade of blue for buttons */
    --side-menu-color: #E8E8E8; /* Slightly darker grey */
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding-top: 70px; /* Height of the fixed header */
}

a, .button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
}

a:hover, .button:hover, .highlight {
    background-color: var(--highlight-color);
}

.content {
    flex: 1;
    display: flex;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

/* SIDE BAR CSS */
.side-menu {
    position: fixed;
    top: 70px;
    left: 0;
    width: 25%;
    height: calc(100vh - 70px);
    overflow-y: auto;
    background-color: var(--side-menu-color);
    color: var(--text-color);
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    padding-bottom: 70px; /* Space for footer */
}

.side-menu .search-box {
    text-align: center;
    margin: 2px 10px;
}

.side-menu .search-box input[type="text"] {
    width: 80%; /* Adjust width as needed */
    padding: 5px;
    margin: 0 auto;
    display: block;
}


.side-menu .search-box button {
    width: 50px; /* Adjust width as needed */
    padding: 5px;
    margin-left: 5px;
}

.side-menu .side-menu-title {
    font-weight: bold;
    margin-top: 20px;
}

.side-menu .side-menu-posts ul {
    list-style: none;
    padding: 0;
}

.side-menu .side-menu-posts ul li a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 5px 0;
}

.side-menu .side-menu-posts ul li a:hover {
    text-decoration: underline;
}



/* TIMELINE CSS */
.timeline {
    flex-grow: 1;
    margin-left: 25%;
    padding: 20px;
    overflow-y: auto;
}

/* HEADER CSS */
.header-nav {
    background-color: var(--primary-color);
    color: var(--button-text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0px;
    gap: 30px;
    margin: 0px;
    margin-right: 30px;
    font-size: 1.5rem;
}

.nav-links a {
    background-color: var(--primary-color);
    color: var(--button-text-color);
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: var(--accent-color);
    color: var(--button-text-color);
}

.blog-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0px;
    margin-left: 30px;
}

/* FOOTER CSS */
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--button-text-color);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 50;
}

.footer-divider {
    height: 1px;
    background-color: var(--secondary-color);
    width: 100%;
    margin: 10px 0;
}

.footer-icons {
    display: flex;
    gap: 10px;
}

.footer-icons a {
    display: inline-block;
    background-color: transparent;
}

.footer-icons svg {
    fill: var(--button-text-color);
    width: 24px;
    height: 24px;
}

.footer-icons a:hover svg {
    opacity: 0.8;
}

.footer-content p {
    font-size: 1.2rem;
    margin: 0px;
}

@media (max-width: 600px) {
    html {
        font-size: 10px;
    }

    .nav-links {
        gap: 15px;
        font-size: 1.5rem;
        margin-right: 20px;
    }

    .blog-title {
        margin-left: 20px;
    }

    .nav-links li:first-child {
        display: none;
    }

    .side-menu {
        width: 100%;
        height: auto;
        position: static;
        padding-bottom: 0;
    }

    .timeline {
        margin-left: 0;
    }
}
